[Unit]
Description=CoolShark API Gateway (mall-gateway)
After=network.target mall-ams.service mall-ums.service mall-product.service mall-sso.service mall-order.service mall-search.service mall-seckill.service mall-resource.service mall-front.service
Wants=nacos.service

[Service]
Type=simple
User=ecs-user
EnvironmentFile=/data/jars/csmall.env
ExecStart=/usr/bin/java -jar /data/jars/mall-gateway-server-1.0.0.jar --spring.profiles.active=prod
ExecStop=/bin/kill -15 $MAINPID
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=30
Restart=on-failure
RestartSec=10

StandardOutput=append:/data/jars/logs/mall-gateway.log
StandardError=append:/data/jars/logs/mall-gateway.log

[Install]
WantedBy=multi-user.target
