[Unit]
Description=CoolShark Seckill Service (mall-seckill)
After=network.target mysqld.service redis.service rabbitmq-server.service mall-product.service mall-order.service
Wants=nacos.service

[Service]
Type=simple
User=ecs-user
EnvironmentFile=/data/jars/csmall.env
ExecStart=/usr/bin/java -jar /data/jars/mall-seckill-webapi-0.0.1-SNAPSHOT.jar --spring.profiles.active=prod
ExecStop=/bin/kill -15 $MAINPID
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=30
Restart=on-failure
RestartSec=10

StandardOutput=append:/data/jars/logs/mall-seckill.log
StandardError=append:/data/jars/logs/mall-seckill.log

[Install]
WantedBy=multi-user.target